body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin-top: 0px;
  background-color: #ffffff;
}
a,
a:hover,
a:active {
  color: #039be5;
  text-decoration: none;
}
.navbar-default {
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  /* box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 4px, rgba(0, 0, 0, 0.28) 0px 4px 8px;  */
}

.btn-view {
  color: #ffffff;
  font-size: 12px;
  background-color: #039be5;
  border-radius: 0px;
  box-shadow: 0;
}
.btn-view:hover {
  color: #ffffff;
  background-color: #039be5;
}
.btn-view:hover:focus,
.btn-view:hover:active {
  color: #ffffff;
  background-color: #039be5;
}
.row {
  margin: 0px;
}
@media (min-width: 768px ) {
  .row {
      position: relative;
      margin: 0px;
  }
  .bottom-align-btn {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.panel {
  margin: 30px 0px;
  /* font-family: 'px_sans_nouveaux'; */
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 0px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

/* .panel-border {
  border: 15px solid #c0c0c0;
} */

.panel:hover {
  color: #000000;
  background-color: #ffffff;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}
.panel:hover:focus,
.panel:hover:active {
  color: #000000;
  background-color: #ffffff;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}
.panel-default > .panel-heading {
  background-color: #ffffff;
  border-bottom: none;
}
.panel-heading {
  padding: 5px 2px;
  margin-bottom: 15px;
  border-radius: 0px;
}
.panel-title {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}

.media {
  margin: 0px;
}
.media-body {
  padding-top: 20px;
}
.post-title {
  /* margin-left: 15px; */
  margin-top: 25px;
  font-size: 24px;
  font-weight: 900;

}
.post-page {
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 0px;
}
.post-content {
  margin: 30px;
}